﻿@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style type="text/css">
        .dosya {
            width: 90px;
            height: 60px;
            background: url('https://cdn1.iconfinder.com/data/icons/Aire%20PNGs/512/Folders/Upload%20Folder.png');
            background-size: 90px 60px;
            overflow: hidden;
        }

            .dosya input {
                width: 90px;
                height: 60px;
                opacity: 0;
                cursor: pointer;
            }
    </style>
</head>
<body>
    @model Miregy.Models.FormModels.NewUser

    @{
        ViewData["Title"] = "RegisterNewUser";
    }


    <h1 style="color:#fd6900">RegisterNewUser</h1>
    <p style="color:#fd6900">Please fill in this form to create an account.</p>
    <hr/>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="fontcolor">
                    <form asp-action="Register">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Ad" class="control-label"></label>
                            <input asp-for="Ad" class="form-control" placeholder="Adınızı giriniz" />
                            <span asp-validation-for="Ad" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SoyAd" class="control-label" for="SoyAd"><b>Soyad</b></label>
                            <input asp-for="SoyAd" class="form-control" placeholder="Soyadınızı giriniz" />
                            <span asp-validation-for="SoyAd" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Yas" class="control-label" for="Yas"><b>Yaş</b></label>
                            <input asp-for="Yas" type="number" min="1" max="99" placeholder="Yaşınızı giriniz" class="form-control" />
                            <span asp-validation-for="Yas" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" placeholder="mail@example.com" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Sirket">Şirket:</label>
                            <select class="form-control" asp-for="Sirket">
                                <option value="MİZ">Mizmer</option>
                                <option value="HUM">Humna</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="sube">Şube:</label>
                            <select class="form-control" asp-for="Sube">
                                <option value="IST">İstanbul</option>
                                <option value="ANK">Ankara</option>
                                <option value="IZM">İzmir</option>
                                <option value="KON">Konya</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Rol">Rol:</label>
                            <select class="form-control" asp-for="Rol">
                                <option value="PSG">Psikolog</option>
                                <option value="YZM">Yazılımcı</option>
                                <option value="DR">Doktor</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label" for="Password"><b>Şifre</b></label>
                            <input asp-for="Password" class="form-control" type="password" placeholder="******" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label" for="ConfirmPassword"><b>Şifre Onayı</b></label>
                            <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="******" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" asp-action="Details" />
                        </div>
                    </form>
                    <div class="container signin">
                        <p>Already have an account? <a href="https://mizmer.mitelik.com/giris">Sign in</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>Basic File Upload</h2>
    @using (Html.BeginForm("Index",
                       "Home",
                       FormMethod.Post,
                       new { enctype = "multipart/form-data" }))
    {
        <label style="color:#fd6900" for="file">Upload Image:</label>
        <input style="color:#fd6900" type="file" name="file" id="file" /><br><br>
        <input style="background-color:#fd6900" type="submit" value="Upload Image" />
        <br><br>
        @ViewBag.Message
    }
    <div>
        <a asp-action="Index">Back to List</a>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    @*<div class="container">
            <div class="row>">
                <div class="col-md-4 offset-md-4">
                    <form action="SetFormDetailes" method="post" name="FormDT" id="FormDT">
                        <div class="fontcolor">
                            <h1>Register</h1>
                            <p style="color:#fd6900">Please fill in this form to create an account.</p>
                            <hr>

                            <label for="ad"><b>Ad</b></label>
                            <input class="form-control" type="text" placeholder="Adınızı giriniz" name="ad" id="ad" required>

                            <label for="soyad"><b>Soyad</b></label>
                            <input class="form-control" type="text" placeholder="Soyadınızı giriniz" name="soyad" id="soyad" required>

                            <label for="yas"><b>Yaş</b></label>
                            <input class="form-control" type="number" min="1" max="99" placeholder="Yaşınızı giriniz" name="yas" id="yas" required>

                            <label for="sirketAd"><b>Şirket Ad</b></label>
                            <input class="form-control" type="text" placeholder="Şirket adını giriniz" name="sirketad" id="sirketad" required>

                            <label for="sube">Şube:</label>
                            <select class="form-control" name="sube" id="sube">
                                <option value="Istanbul">İstanbul</option>
                                <option value="Ankara">Ankara</option>
                                <option value="Izmir">İzmir</option>
                                <option value="Konya">Konya</option>
                            </select>
                            <br>
                            <label for="email"><b>Email</b></label>
                            <input class="form-control" type="text" placeholder="Enter Email" name="email" id="email" required>

                            <label for="rol">Rol:</label>
                            <select class="form-control" name="rol" id="rol">
                                <option value="Psikolog">Psikolog</option>
                                <option value="Doktor">Doktor</option>
                                <option value="Yazılım Geliştiricisi">Yazılım Geliştiricisi</option>
                            </select>

                            <label for="psw"><b>Password</b></label>
                            <input class="form-control" type="password" placeholder="Enter Password" name="psw" id="psw" required>

                            <label for="psw-repeat"><b>Repeat Password</b></label>
                            <input class="form-control" type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
                            <hr>

                            <h2>Basic File Upload</h2>
                            @using (Html.BeginForm("Index",
                                                 "Home",
                                                 FormMethod.Post,
                                                 new { enctype = "multipart/form-data" }))
                            {
                                <label style="color:#fd6900" for="file">Upload Image:</label>
                                <input style="color:#fd6900" type="file" name="file" id="file" /><br><br>
                                <input style="background-color:#fd6900" type="submit" value="Upload Image" />
                                <br><br>
                                @ViewBag.Message
                            }

                            <button type="submit" class="registerbtn">Register</button>

                    </form>
                    <div class="container signin">
                        <p>Already have an account? <a href="https://mizmer.mitelik.com/giris">Sign in</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>*@
</body>
</html>

